body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px rgba(60, 64, 67, 0.15);
    width: 100%;
    /* overflow: hidden; */
    /* 防止内容溢出 */
}

.card-header {
    background-color: #4285f4;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group label {
    margin-right: 10px;
}

label {
    font-weight: 500;
    color: #3c4043;
}


.difficulty-level-image {
    width: 80px; /* 调整为您想要的宽度 */
    height: 80px; /* 调整为您想要的高度 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.difficulty-level-image:hover {
    transform: scale(1.5); /* 悬停时放大1.2倍 */
}

.difficulty-level-container {
    display: flex;
    justify-content: space-between; /* 分散对齐选项 */
    align-items: center; /* 确保选项垂直居中对齐 */
}


.label-input-container {
    display: flex;
    flex-direction: row; /* 将输入框放在右边 */
    align-items: center;
    margin-bottom: 10px;
}

.label-input-container label {
    width: 70px; /* 设置固定宽度 */
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 可选：文本溢出时显示省略号 */
}

input[type="number"],
input[type="range"] {
    width: 40%;
    /* 确保输入框宽度不超过卡片 */
    padding: 0.75rem;
    border: 2px solid #dadce0;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="number"]:focus,
input[type="range"]:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.25);
}

button[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3367d6;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.difficulty-level-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.difficulty-level-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}